/* ===========================
   Mobile Responsive
=========================== */

@media (max-width:1024px){

.container{
    width:95%;
}

.left,.right{
    padding:30px;
}

h1{
    font-size:48px;
    line-height:48px;
}

.profile{
    width:220px;
    height:220px;
}

.about p,
.box p,
.details p{
    font-size:16px;
    line-height:28px;
}

.box ul li{
    font-size:18px;
}

}

@media (max-width:768px){

body{
    padding:10px;
}

.container{
    flex-direction:column;
    width:100%;
    border-radius:20px;
}

.left,
.right{
    width:100%;
    padding:25px;
}

h1{
    font-size:38px;
    line-height:40px;
    text-align:center;
}

.left h2{
    text-align:center;
}

.profile{
    width:180px;
    height:180px;
    margin:0 auto 25px;
}

.about,
.box{
    margin-top:20px;
    padding:20px;
}

.about h3,
.box h3,
.details h2{
    display:block;
    text-align:center;
    width:100%;
}

.about p{
    font-size:15px;
    line-height:26px;
}

.box ul li{
    font-size:16px;
}

.details p{
    font-size:15px;
    line-height:25px;
    word-break:break-word;
}

.lang{
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.circle{
    width:90px;
    height:90px;
}

.inner{
    width:60px;
    height:60px;
    font-size:16px;
}

}

@media (max-width:480px){

body{
    padding:5px;
}

.container{
    border-radius:15px;
}

.left,
.right{
    padding:18px;
}

h1{
    font-size:30px;
    line-height:32px;
}

.left h2{
    font-size:20px;
}

.profile{
    width:150px;
    height:150px;
    border-width:6px;
}

.about,
.box{
    border-radius:15px;
    padding:15px;
}

.about p,
.box p,
.details p{
    font-size:14px;
    line-height:22px;
}

.box ul li{
    font-size:15px;
}

.circle{
    width:75px;
    height:75px;
}

.inner{
    width:50px;
    height:50px;
    font-size:14px;
}

}
